<div class="container-fluid text-center my-3">
 <div class="title"><%= image_tag("logo2.png") %></div>
</div>

<div class="container">

  <div class="row">
    <% @cocktails.each do |cocktail| %>
     
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card my-3 shadow-lg rounded bg-lighter ">

            <%= link_to cocktail_path(cocktail) do %>
              <% if (cocktail.photo.attached?) %>
               
                  <%= cl_image_tag cocktail.photo.key, height: 150, width: 208, crop: :fill, class: "card-img rounded" %>
              
              <% else %>
                <img class="card-img rounded" src="https://source.unsplash.com/300x400/?cocktail&rand=<%= rand( 9999) %>" height=150 width=208  alt="cocktail image">
              <% end %>

              <div class="card-img-overlay"> 
                <h4 class="card-text text-white text-center" style="text-shadow: 2px 2px grey;"><%= cocktail.name %></h4>               
              </div>
              
            <% end %> 
        </div>
            
      </div>
    <% end %>
  </div>
<br />
<%= link_to "Add a New Cocktail", new_cocktail_path, class: "btn btn-primary" %>
</div>