<!DOCTYPE html>
<html>
  <head>
    <title>CocktailRecipeBook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <%= favicon_link_tag asset_path('favicon.png') %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body style="background-image: linear-gradient(-225deg, rgba(0,36,61,0.6) 50%, rgba(0,36,61,0.6) 50%), url(<%= image_path("back1.jpg")%>); background-size: cover;">
    <%= yield %>
  </body>
</html>
